site_name: Hydrologic Modeling Basics
theme:
  name: material
  features:
    - navigation.footer
markdown_extensions:
  - toc:
      permalink: true
nav:
  - Home: index.md
  - Hydrologic Modeling Basics: Overview.md
  - Precipitation: Precipitation.md
  - Losses: Losses.md
  - Runoff: Runoff.md
  - Routing: Routing.md
  - Summary: Summary.md
